.example-card {
  padding-top: 2rem;
  margin: 2rem;
  max-width: 330px;;
  min-width: 330px;
  height: 310px;
  border: 1px solid rgb(209, 206, 206);
  background-color: rgb(253, 252, 252);
}

.example-card>div>img{
  margin-top: -4.5rem;
  float: right;
  width: 140px;
  height: 180px;
}

mat-card-content>p{
  margin-top: 1.5rem;
}

.weapon-para{
  display: flex;
  align-items: center;
}

.weapon-para>img{
  height: 30px;
  width: 30px;
  margin-left: 10px;
}

.skills-para{
  display: flex;
  flex-direction: row;
  align-items: center;
}
