<p mat-dialog-title>
    <mat-toolbar>
        <span>Add Job</span>
    </mat-toolbar>
</p>
<mat-dialog-content class="whole-form">
    <br>
    <div class="form-body">
        <form>
            <mat-form-field class="example-full-width">
                <mat-label>Job Name</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Role</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Base Class</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Origin</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Weapon</mat-label>
                <input matInput >
            </mat-form-field> 
            <br>
            <br>
            <button mat-raised-button color="accent">Submit</button>
        </form>
    </div>
</mat-dialog-content>